<section  class="sec-1">
  <!-- HERO-IMGS -->
  <div class="row p-0 m-0 hero-div">
      <div id="homeCarousel" class="carousel slide col-12 p-0" data-bs-ride="carousel" data-bs-interval="2000">
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <div class="h-400px">
                      <img alt="وصف قصير لصورة الصفحة الرئيسية" src="assets/imgs/home-1.jpeg" alt="home-1" class="img-fluid">
                  </div>
                  <!-- HERO-DETAILS -->
                  <div class="hero-info pt-4 pb-4">
                      <div class="container">
                          <h2 class="hero-title">فساتين سهرة بناتي</h2>
                          <h5 class="hero-title-details mt-3">مجموعة الصيف</h5>
                          <p class="hero-paragraph-details mt-4">
                              اكتشفي مجموعة الفساتين البناتي الجديدة التي تجمع بين الأناقة والراحة! تصاميم
                              عصرية بألوان زاهية وخامات ناعمة تضمن لطفلتك إطلالة مميزة في كل مناسبة. سواء كان للاحتفالات أو
                              الأيام العادية، فساتيننا مصممة لتناسب جميع الأذواق وتمنح طفلتك الثقة والراحة طوال اليوم. احصلي الآن على
                              أفضل الخيارات بأسعار تنافسية! مما يضمن إطلالة ساحرة ومميزة لكل مناسبة اختاري الأفضل لأميرتك الصغيرة
                              واجعليها تتألق بثقة وأناقة.
                          </p>
                          <a href="shopingNow.html">
                              <button class="myBtn myBtn-outline"><i class="fa-solid fa-arrow-right"></i> مشاهدة الكل</button>
                            </a>
                      </div>
                  </div>
              </div>
              <div class="carousel-item">
                  <div class="h-400px">
                      <img alt="وصف قصير لصورة الصفحة الرئيسية" src="assets/imgs/home-2.jpeg" alt="home-2" class="img-fluid">
                  </div>
                  <!-- HERO-DETAILS -->
                  <div class="hero-info pt-4 pb-4">
                      <div class="container">
                          <h2 class="hero-title">فساتين سهرة بناتي</h2>
                          <h5 class="hero-title-details mt-3">مجموعة الصيف</h5>
                          <p class="hero-paragraph-details mt-4">
                              اكتشفي مجموعة الفساتين البناتي الجديدة التي تجمع بين الأناقة والراحة! تصاميم
                              عصرية بألوان زاهية وخامات ناعمة تضمن لطفلتك إطلالة مميزة في كل مناسبة. سواء كان للاحتفالات أو
                              الأيام العادية، فساتيننا مصممة لتناسب جميع الأذواق وتمنح طفلتك الثقة والراحة طوال اليوم. احصلي الآن على
                              أفضل الخيارات بأسعار تنافسية! مما يضمن إطلالة ساحرة ومميزة لكل مناسبة اختاري الأفضل لأميرتك الصغيرة
                              واجعليها تتألق بثقة وأناقة.
                          </p>
                          <button class="myBtn">تسوق الأن</button>
                      </div>
                  </div>
              </div>
              <div class="carousel-item">
                  <div class="h-400px">
                      <img alt="وصف قصير لصورة الصفحة الرئيسية" src="assets/imgs/home-1.jpeg" alt="home-1" class="img-fluid">
                  </div>
                  <!-- HERO-DETAILS -->
                  <div class="hero-info pt-4 pb-4">
                      <div class="container">
                          <h2 class="hero-title">فساتين سهرة بناتي</h2>
                          <h5 class="hero-title-details mt-3">مجموعة الصيف</h5>
                          <p class="hero-paragraph-details mt-4">
                              اكتشفي مجموعة الفساتين البناتي الجديدة التي تجمع بين الأناقة والراحة! تصاميم
                              عصرية بألوان زاهية وخامات ناعمة تضمن لطفلتك إطلالة مميزة في كل مناسبة. سواء كان للاحتفالات أو
                              الأيام العادية، فساتيننا مصممة لتناسب جميع الأذواق وتمنح طفلتك الثقة والراحة طوال اليوم. احصلي الآن على
                              أفضل الخيارات بأسعار تنافسية! مما يضمن إطلالة ساحرة ومميزة لكل مناسبة اختاري الأفضل لأميرتك الصغيرة
                              واجعليها تتألق بثقة وأناقة.
                          </p>
                          <button class="myBtn">تسوق الأن</button>
                      </div>
                  </div>
              </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
          </button>
      </div>
  </div>
</section>
